---
import { ViewTransitions } from "astro:transitions";
import SEO from "@/components/SEO.astro";
import type { Preload } from "@/types/Preload";
import "@fontsource-variable/dancing-script";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
